@import "variables/spacing.css";
@import "variables/colors.css";
@import "variables/fonts.css";

body {
    font-family: var(--manrope-font);
    color: var(--color-brand-600);
    font-size: var(--font-size-0);
    box-sizing: border-box;
}

p {
    line-height: 1.3;
}

b {
    font-family: var(--manrope-font);
    font-weight: var(--manrope-black);
}

.display-text {
    font-family: var(--elsie-font);
    font-weight: var(--elsie-black);
    font-size: var(--font-size-5);
}

.subtitle-text {
    font-family: var(--elsie-font);
    font-weight: var(--elsie-black);
    font-size: var(--font-size-3);
}

.button--primary {
    background-color: var(--color-brand-600);
    color: var(--color-brand-100);
    border-radius: 200rem;
    border-style: none;

    width: 100%;
    padding: var(--space-s) var(--space-l);
    font-size: var(--font-size-1);
}