@import "globals.css";

.hero--container {
    position: relative;
}

.hero--container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-brand-700);
    opacity: 0.2;
}

.hero--container--image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero--container--text {
    padding: var(--space-3xl) var(--default-spacing);
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 50%;
        align-self: center;
    }

    h1 {
        color: var(--color-brand-25);
        text-align: center;
    }
}


.hero--subtitle--wrapper {
    position: relative;
    /* min-height: 350vh; */
    min-height: min-content;
}

.hero--subtitle--text {
    position: absolute;
    top: 0;
    left: 0;

    div {
        height: 110vh;
        position: relative;
        padding: var(--space-3xl) var(--default-spacing);

        h2 {
            position: sticky;
            top: var(--space-3xl);
            max-width: 90%;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.hero--subtitle--images {
    position: relative;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    height: 330vh;

    .h--subtitle--pitahaya {
        position: absolute;
        top: 0%;
        right: -66%;
        transform: rotate(-106deg) scale(0.5);
    }

    .h--subtitle--mint {
        position: absolute;
        top: 11%;
        right: -128%;
        transform: scale(0.5);
    }


    .h--subtitle--bergamota {
        position: absolute;
        bottom: 15%;
        right: -36%;
        transform: rotate(100deg) scale(0.6);
    }

    .h--subtitle--pomelo {
        position: absolute;
        bottom: -20%;
        right: -150%;
        transform: scale(0.6);
    }
}


.productos {
    min-height: 100vh;
    padding: var(--space-m) var(--default-spacing) var(--space-3xl) var(--default-spacing);
}

.productos img {
    width: 100%;
    border-top-left-radius: 40rem;
    border-top-right-radius: 40rem;
}

.producto--text {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    padding: var(--space-l) 0 0 0;
}

.producto--text p {
    max-width: 90%;
}

.producto--teverdementa {
    background-color: var(--color-electra-50);
    color: var(--color-shipmate-700);
}

.producto--pomeloybergamota {
    background-color: var(--color-brand-50);
    color: var(--color-electra-600);
}

.producto--pitahaya {
    background-color: var(--color-moonlight-mauve-50);
    color: var(--color-moonlight-mauve-700);
}

footer {
    height: 100vh;
    background: #FFFDF7;
    background: linear-gradient(180deg, var(--color-brand-25) 0%, var(--color-brand-50) 60%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: var(--space-xl) var(--default-spacing);
    position: relative;
    overflow: hidden;
}

.footer--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-s)
}

.footer--text p {
    max-width: 90%;
}

.footer--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-s);
    width: 100%;
}

.footer--fruits {
    position: relative;
    height: 100%;
    width: 100%;
}

.footer--content>img {
    max-width: 100%;
}

.footer--content ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: var(--space-s);
    margin-top: var(--space-m);
}

.footer--content ul li a {
    color: var(--color-brand-400);
    text-decoration: none;
    font-size: var(--font-size--1);
}

.absolute--img {
    position: absolute;
    width: 30%;
}

.footer--mint {
    width: 35%;
    bottom: 0%;
    right: -20%;
}

.footer--pitahaya {
    width: 35%;
    bottom: 15%;
    left: -20%;
    rotate: -95deg;
}

.footer--pomelo {
    width: 40%;
    top: 30%;
    left: 20%;
    z-index: 1;
}

.footer--figura {
    width: 60%;
    top: 30%;
    left: 20%;
    z-index: 1;
}