@import "globals.css";

#hero {
    height: 100vh;
    background-color: var(--color-brand-25);
    position: relative;
}

.absolute--img {
    position: absolute;
    width: 30%;
}

.hero--mint {
    width: 35%;
    bottom: 20%;
    right: -20%;
}

.footer--mint {
    width: 35%;
    bottom: 0%;
    right: -20%;
}

.footer--pitahaya {
    width: 35%;
    bottom: 15%;
    left: -20%;
    rotate: -95deg;
}

.footer--pomelo {
    width: 40%;
    top: 45%;
    right: 45%;
    transform: translate(50%, -50%);
    z-index: 1;
}

.footer--bergamota {
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero--pitahaya {
    width: 45%;
    bottom: 25%;
    left: -20%;
    rotate: -95deg;
}

.hero--bergamota {
    width: 45%;
    top: 10%;
    left: -20%;
    rotate: 130deg;
}

.hero--pomelo {
    width: 50%;
    top: 5%;
    right: 5%;
    transform: translate(50%, -50%);
}

.hero--content {
    height: 100%;
    margin: 0 var(--default-spacing);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;
}

.hero--content img {
    max-width: clamp(120px, 40vw, 190px);
}

.hero--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-s)
}

.hero--text p {
    max-width: 90%;
}

.productos {
    padding: var(--space-m) 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.productos img {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 40rem;
    border-top-right-radius: 40rem;
}

.producto--text {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    padding: var(--space-l) var(--default-spacing) 0 var(--default-spacing);
}

.producto--text p {
    max-width: 80%;
}

.producto--teverdementa {
    background-color: var(--color-shipmate-50);
    color: var(--color-electra-700);
}

.producto--pomeloybergamota {
    background-color: var(--color-electra-50);
    color: var(--color-brand-600);
}

.producto--pitahaya {
    background-color: var(--color-moonlight-mauve-50);
    color: var(--color-moonlight-mauve-700);
}

footer {
    height: 100vh;
    background: #FFFDF7;
    background: linear-gradient(180deg, var(--color-brand-25) 0%, var(--color-brand-50) 60%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: var(--space-xl) var(--default-spacing);
    position: relative;
}

.footer--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-s)
}

.footer--text p {
    max-width: 90%;
}

.footer--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-s);
    width: 100%;
}

.footer--fruits {
    position: relative;
    height: 100%;
    width: 100%;
}

.footer--content>img {
    display: inline-block;
    max-width: 100%;
}

.footer--content ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: var(--space-s);


}

.footer--content ul li a {
    color: var(--color-brand-400);
    text-decoration: none;
    font-size: var(--font-size--1);
}